<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="JavaScript/login.css">
</head>

<body>

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">

        <div class="contenedor d-flex flex-column justify-content-center align-items-center p-4">

            <!-- Logo -->
            <div class="logo mb-4">
                COZYMOV
            </div>

            <!-- Descripción -->
            <p class="descripcion text-center mb-3">
                Un camino seguro<br>
                apoyate en tu comunidad
            </p>

            <!-- Botones -->
            <div class="d-grid gap-4 w-50">

                <button id="btnRegistro" class="btn btn-crear" type="button">
                    Crear cuenta
                </button>

                <button id="btnLogin" class="btn btn-login" type="button">
                    Iniciar sesión
                </button>

            </div>

        </div>

    </div>

    <!-- Nuestro JavaScript -->
    <script src="js/login.js"></script>

</body>
</html>