<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <!-- link de bootstrap para el css y js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!--link del css de register -->
    <link rel="stylesheet" href="../registerYeferson/CSS/register.css">
</head>

<body class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow rounded-4 p-4" style="width: 420px;">
    <h1 class="text-center mb-3">Crear cuenta</h1>
    <h5 class="text-center text-muted mb-4">Únete a nosotros y empieza tu viaje</h5>

    <label for="correo" class="form-label">Correo Institucional</label>
    <input
      id="correo"
      type="text"
      class="form-control"
      placeholder="Ingrese su correo institucional"
    >

    <label for="documento" class="form-label">Documento de Identidad</label>
    <input
      id="documento"
      type="text"
      class="form-control"
      placeholder="Ingrese su documento de identidad"
    >
  </div>
</body>

</html>